.fadeIn {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: fadeInBottom
}

@keyframes fadeInBottom {
    from {
        opacity: 0;
        transform: translateY(20%);
    }
    to {
        opacity: 1
    }
}