.card-groups {
    display: inline-flex;
    justify-content: center;
    width: 100vw;
    flex-wrap: wrap;
    background-color: black;
}

.card {
    text-align: center;
    display: inline-flex;
    width: 20rem !important;
    margin: 5px;
}

.card-body > * {
    color: white;
}

.aaaaa {
    display: block;
    width: 200px;
}