.scrolled-down {
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
}

.scrolled-up {
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
}

header {
    padding-bottom: 5rem;
}

.navbar {
    padding-left: 1rem;
}

.navbar-toggler, #navbar-brand {
    margin: 0.25rem;
}