.card-groups {
    display: inline-flex;
    justify-content: center;
    width: 100vw;
    flex-wrap: wrap;
    background-color: black;
}

.card, .toastCard {
    display: inline-flex;
    text-align: center;
    width: 22rem;
    margin: 5px;
}

.card-header, .card-body, .toast-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.fadeIn {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: fadeInBottom
}

@keyframes fadeInBottom {
    from {
        opacity: 0;
        transform: translateY(20%);
    }
    to {
        opacity: 1
    }
}